:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --transparent-white-color: rgba(255, 255, 255, 0.6)
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

.list {
    list-style: none;
}
/* колір основного тексту #212121 */
/* вторинний колір #757575 */
/* акцент #2196F3 */


/* logo */
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* site-nav */
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover, 
.site-nav .link:hover {
    color: var(--accent-color)
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth-nav .link {
    color: var(--primary-text-color);
}

.auth-nav .link:hover {
    color: var(--accent-color);
}

/* hero */
.hero-title {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* section */
.section-title {
    color: var(--title-text-color);
}

/* features */
.features .title {
    color: var(--title-text-color);
}

/* our team */
.team .title {
    color: var(--title-text-color);
}

/* button */
.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

button {
    font-family: inherit;
}